@import '~bootstrap/scss/bootstrap.scss';

*{
    box-sizing: border-box !important;
    border: 1px solid red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
}

.w45{
    width: 45%;
}
.w20{
    width: 20%;
}