// Background Colors
$bg-grey: #BBBBBB;
$bg-blue: #527CEB;
$bg-dark-1: #3d3d3d;
$bg-dark-2: #333333;
$bg-lightgrey: #e5e5ea;
$bg-dark-3: #4c4c4c;
$bg-dark-4: #191919;

// Text Colors
$txt-blue: rgb(28, 176, 215);
$txt-red: rgb(249, 99, 107);
$txt-grey: rgb(127, 127, 127);
$txt-grey-2: rgb(136, 136, 136);

// Others
$magenta: rgb(182, 36, 110);
$dark-blue: rgb(11, 24, 82);
$dark-blue-2: rgb(2, 2, 48);

$btn-blue-1: rgb(3, 166, 210);
$btn-blue-2: rgb(31, 63, 131);